Source: pynotifyd
Maintainer: Torge Szczepanek <info@cygnusnetworks.de>
Uploaders: Helmut Grohne <h.grohne@cygnusnetworks.de>
Standards-Version: 3.8.0
Section: python
Priority: extra
Build-Depends: debhelper (>= 7), python
XS-Python-Version: >= 2.6

Package: python-pynotifyd
Architecture: all
Depends: python (>= 2.6), python-configobj, ${python:Depends}, ${misc:Depends},
 python-pyinotify, python-pyxmpp
XB-Python-Version: ${python:Versions}
Recommends: python-setproctitle
Description: Python Notification Daemon
 The daemon allows you to send a message to a contact via jabber, email or sms
 whatever fits best. It is intended for use with Nagios.
